---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Welcome to <span class="text-gradient">Astro</span></h1>
		<p class="instructions">
			To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
			/>
			<Card
				href="https://astro.build/integrations/"
				title="Integrations"
				body="Supercharge your project with new frameworks and libraries."
			/>
			<Card
				href="https://astro.build/themes/"
				title="Themes"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="https://astro.build/chat/"
				title="Community"
				body="Come say hi to our amazing Discord community. ❤️"
			/>
		</ul>
	</main>
</Layout>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" width=500px>
	<!-- Body -->
	<path d="M100 170 L150 100 L100 30 L50 100 Z" fill="#FFB100" />
	
	<!-- Face -->
	<path d="M100 120 C100 120, 60 80, 100 60 C140 80, 100 120, 100 120 Z" fill="#FFD700" />
	
	<!-- Eyes -->
	<circle cx="75" cy="85" r="10" fill="#FFFFFF" />
	<circle cx="125" cy="85" r="10" fill="#FFFFFF" />
	
	<!-- Pupils -->
	<circle cx="77" cy="85" r="4" fill="#000000" />
	<circle cx="123" cy="85" r="4" fill="#000000" />
	
	<!-- Ears -->
	<path d="M50 55 C60 40, 90 30, 95 40" fill="#FFB100" />
	<path d="M150 55 C140 40, 110 30, 105 40" fill="#FFB100" />
	
	<!-- Nose -->
	<path d="M95 100 Q100 120 105 100" fill="#FFD700" />
	
	<!-- Mouth -->
	<path d="M95 100 C100 110, 100 110, 105 100" fill="none" stroke="#000000" />
  </svg>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
