---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

// Images
import mjclogo from '../images/mjc-logo.svg';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="logo">
			<img src={mjclogo} alt="Logo for MJC" />
		</div>

		<h1>Hiya! I'm <strong>Morgan Cadow</strong>. I'm an <span class="text-gradient">Experience Designer</span> based in Denver.</h1>

		<p class="subtitle">I love building design systems and data-rich interfaces.</p>

		<div class="align-center margin-top-24">
			<a href="https://drive.google.com/file/d/1eosDSQRjtbyvPLkPv8jIfjph8f1LIRer/view?usp=sharing" class="button" target="_blank">Download my resume</a>
		</div>

		<p class="instructions">
			I’m currently redesigning my site. If you would like to read some of the <strong>Case Studies</strong> for my recent work, have a work inquiry, or just want to chat drop me a line at <a href="mailto:morgan@ajarat.io">morgan@ajarat.io</a>.
			<br /><br />
			Thanks for stopping by!
		</p>
	</main>
</Layout>

<!--
	<ul role="list" class="link-card-grid">
		<Card
			href="https://astro.build/integrations/"
			title="Integrations"
			body="Supercharge your project with new frameworks and libraries."
		/>
		<Card
			href="https://astro.build/themes/"
			title="Themes"
			body="Explore a galaxy of community-built starter themes."
		/>
		<Card
			href="https://astro.build/chat/"
			title="Community"
			body="Come say hi to our amazing Discord community. ❤️"
		/>
	</ul>
-->

<style lang="scss">
	.logo {
		text-align: center;

		img {
			width: 150px;
		}
	}
	h1 {
		margin: 1.5rem 0 0.75rem 0;
		font-size: 1.75rem;
		text-align: center;
	}
	.subtitle {
		font-size: 1.25rem;
		text-align: center;
	}
	.instructions {
		margin: 1.5rem 0;
		padding: 1.5rem;
		border-radius: 0.4rem;
		border: 4px solid rgba(255, 208, 133, 1);
		background-color: rgba(255, 208, 133, 0.3);
		font-size: 1.25rem;
		line-height: 1.25;
	}

	@media only screen and (min-width: 768px) {
		.logo {

			img {
				width: 200px;
			}
		}
		h1 {
			margin: 2rem 0 1rem 0;
			font-size: 2.5rem;
		}
		.subtitle {
			font-size: 1.5rem;
		}
		.instructions {
			margin: 2rem 0;
			padding: 2rem;
			font-size: 1.25rem;
			line-height: 1.6;
		}
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
