---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';

// Images
import mjcphoto from '/images/mjc-photo.png';
import pets from '/images/pets.jpg';
import aboutcat from '/images/about-cat.svg';
---

<Layout title="Product Design Portfolio for Morgan Cadow">
	<main>
		<div class="title-area">
			<div>
				<h2>Hiya! I'm <strong>Morgan Cadow</strong>. I'm a <span class="text-gradient">Product Designer</span> based in Raleigh, NC.</h1>
				<p class="subtitle">I love making sense of complex systems.</p>
				<Button
					href="/work"
					target="_self"
					text="See some of my work"
				/>
			</div>
			<img src={aboutcat} width="100%" alt="Cool cat drawing" />
		</div>

		<div class="about-me">
			<img src={mjcphoto} width="100%" alt="Photo of Morgan Cadow" />

			<div>
				<h3>A lil about me</h3>
				<p class="text-large">I've worked professionally as a <strong>Product Designer</strong> and <strong>Front-End Developer</strong> for <strong>19 years</strong>.</p>
				<p>I've managed small and medium design teams and love being able to get my hands on the work itself. Looking for opportunities where I can provide technical leadership and mentorship while having the bandwidth to contribute creatively!</p>

				<h4>My specialties</h4>
				<ul>
					<li>Design Systems</li>
					<li>Transforming complex data into intuitive solutions</li>
					<li>Building efficiencies in the design process</li>
					<li>Bridging the gap between design and dev</li>
					<li>Big-picture thinking</li>
					<li>Building strong design teams and team culture</li>
				</ul>

				<h4>What I value</h4>
				<ul>
					<li>Knowing my work has impact</li>
					<li>Interacting with my users first-hand</li>
					<li>Working on a strong triad so I'm always learning</li>
					<li>The idea that our internal employees are just as important as our customers</li>
					<li>Building future-safe</li>
				</ul>

				<h4>Industries I've worked in</h4>
				<ul>
					<li>Homebuilding</li>
					<li>E-Commerce</li>
					<li>Fintech</li>
					<li>Hospitality</li>
					<li>Publishing</li>
					<li>Agency</li>
				</ul>
			</div>
		</div>

		<b class="hr"></b>

		<div class="fun-stuff">
			<h3>Now for important stuff</h3>

			<div>
				<div>
					<div>
						<h4>Things I love</h4>
						<ul>
							<li>Kitty cats</li>
							<li>Rain</li>
							<li>Mountains</li>
							<li>Art supplies</li>
							<li>Cars</li>
							<li>Rocks</li>
							<li>Musicals</li>
							<li>Period pieces</li>
							<li>Anime/Manga/Mangwha</li>
							<li>Tuna Salad</li>
						</ul>
					</div>

					<div>
						<h4>What I do for fun</h4>
						<ul>
							<li>Snuggle with my fur babies</li>
							<li>Play video games</li>
							<li>Paint- I do abstract impressionist stuff and collage</li>
							<li>Draw- I love to draw animals and silly creatures!</li>
							<li>Sing 90's Disney songs</li>
							<li>Cook (with a glass of wine)</li>
							<li>Listen to music (also with a glass of wine)</li>
							<li>Hike, and generally enjoy nature</li>
							<li>Meditate</li>
						</ul>
					</div>
				</div>

				<div>
					<div>
						<h4>Shows I’ve watched like 100 times</h4>
						<ul>
							<li>It’s Always Sunny in Philadelphia</li>
							<li>Derry Girls</li>
							<li>Community</li>
							<li>Schitt’s Creek</li>
							<li>The IT Crowd</li>
							<li>Psych</li>
						</ul>
					</div>

					<div>
						<h4>Movies I know by heart</h4>
						<ul>
							<li>The Lion King</li>
							<li>The Sound of Music</li>
							<li>Moulin Rouge</li>
							<li>Eurovision Song Contest: The Story of Fire Saga</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</main>
</Layout>

<style lang="scss">
	.title-area {
		padding-bottom: 3rem;

		& > div {
			display: flex;
			flex-direction: column;
		}
	}
	.subtitle {
		margin-bottom: 1.5rem;
	}
	.about-me {
		display: flex;
		flex-direction: column;
		align-items: center;

		img {
			max-width: 300px;
		}
	}

	h3 {
		font-size: 1.5rem;
		font-weight: 500;
		margin-block-start: 1rem;
    	margin-block-end: 1rem;
	}
	h4 {
		font-size: 1.25rem;
		font-weight: 500;
		margin-block-start: 1rem;
    	margin-block-end: .5rem;
	}

	.pets {
		margin-top: 1.5rem;
		border-radius: .5rem;
	}

	@media only screen and (min-width: 768px) {
		.title-area {
			padding-bottom: 0;

			& > div {
				display: block;
			}
		}

		h3 {
			margin-block-start: 0;
			margin-block-end: 1.25rem;
			font-size: 1.75rem;
		}
		h4 {
			font-size: 1.25rem;
			margin-block-start: 1.25rem;
			margin-block-end: .75rem;
		}
		
		.about-me {
			display: flex;
			flex-direction: row;
			align-items: flex-start;

			img {
				width: 250px;
				height: 250px;
				margin-right: 2rem;
			}
		}

		.fun-stuff {

			& > div {
				display: flex;
				flex-direction: column;

				& > div {
					display: flex;
					flex-direction: row;

					& > div {
						width: 50%;
					}
				}
			}
		}
	}

	@media only screen and (min-width: 1024px) {
		
		.about-me {
			display: flex;
			flex-direction: row;
			align-items: flex-start;

			img {
				width: 300px;
				height: 300px;
			}
			h3 {
				margin-block-start: 0;
			}
		}

		.fun-stuff {

			& > div {
				display: flex;
				flex-direction: column;

				& > div {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
				}
			}
		}
	}

	@media only screen and (min-width: 1260px) {
		
		.subtitle {
			margin-bottom: 2rem;
		}

		h3 {
			margin-block-end: 1.25rem;
			font-size: 2rem;
		}
		h4 {
			margin-block-start: 1.25rem;
			margin-block-end: .75rem;
			font-size: 1.5rem;
		}
	}
</style>
