---
import Layout from '../layouts/Layout.astro';
import WorkCard from '../components/WorkCard.astro';


// Images
import workcat from '/images/work-cat.svg';
---

<Layout title="My work">
	<main>
		<div class="title-area">
			<div>
				<h2>Here is some of <span class="text-gradient">my work</span>!</h1>
				<p class="subtitle">If there is a particular project you're interested in and want to know more, <a href="mailto:morgan@ajarat.io">email me</a>!</p>
			</div>
			<img src={workcat} width="100%" alt="Cool cat drawing" />
		</div>

		<div class="work-cards">
			<WorkCard
				img="/images/eds-kitchen-sink-mockup.png"
				alt="Evolve Design System Kitchen Sink"
				title="Evolve Design System"
				body="A comprehensive design system, built in Figma, for the Evolve rebrand. Defines a range of reusable components that maintain visual coherence, improve accessibility, and streamline the design process. Usage guidelines written in Zeroheight."
				href="/casestudies/eds"
				target="_self"
				text="View case study"
			/>

			<b class="hr"></b>

			<WorkCard
				img="/images/ta-mockup.png"
				alt="TripAssist mockups"
				title="TripAssist"
				body="A Salesforce application for Evolve's customer service employees, enabling them to easily update and cancel bookings. Provides quick access to booking details for accurate and timely updates. Automation and intelligent data management enhance efficiency, improving customer satisfaction and streamlining operations."
				href="/casestudies/tripassist"
				target="_self"
				text="View case study"
			/>

			<b class="hr"></b>

			<WorkCard
				img="/images/guest-account-mockup.png"
				alt="Evolve Guest Account mockup"
				title="Evolve Guest Account"
				body="A reskin of the Salesforce Communities app we used at Evolve for our Guest Account portal. Here, our guests could view their upcoming bookings, past bookings, check-in information, and request changes to their upcoming bookings."
				href="https://www.figma.com/proto/3EUu1VccXMgHauHYjdcRpP/Guest-Community?page-id=11%3A2461&type=design&node-id=11-2462&viewport=623%2C497%2C0.63&t=lreRHP3BCZHI4d2W-1&scaling=scale-down&starting-point-node-id=11%3A2462&mode=design"
				target="_blank"
				text="View prototype"
			/>

			<b class="hr"></b>

			<WorkCard
				img="/images/cep-red-routes.jpg"
				alt="Red Routes charts for CEP"
				title="CEP"
				body="A research report that evaluates a stand-alone customer engagement platform that offers complete visibility and control over all customer interactions. Analyzing its features and performance, it showcases the app's potential to enhance customer service, foster team collaboration, and drive customer satisfaction."
				href="/casestudies/cep"
				target="_self"
				text="View research report"
			/>

			<b class="hr"></b>

			<WorkCard
				img="/images/scenario-builder-mockup.png"
				alt="Screenshot from Loan Factory of the Scenario Builder feature"
				title="Loan Factory Scenario Builder"
				body="Loan Factory is a mortgage processing and underwriting app that I designed for PromonTech. Scenario Builder is a feature that allows loan officers to view several different loan product scenarios while communicating with a potential borrower about their needs."
				href="https://www.figma.com/proto/0KoOEzTjSm0vKGOUYPVZLkoN/Scenario-Builder?type=design&node-id=0-2257&t=yvFrXMTw0021qdIX-1&scaling=min-zoom&page-id=0%3A122&starting-point-node-id=0%3A2257"
				target="_blank"
				text="View prototype"
			/>

			<b class="hr"></b>

			<WorkCard
				img="/images/ar-mockup.png"
				alt="Screenshot for AniRobotto Browse page in light and dark modes"
				title="AniRobotto"
				body="A pet project that uses machine learning to give anime recommendations."
				href="/casestudies/anirobotto"
				target="_self"
				text="View project"
			/>
		</div>
	</main>
</Layout>

<style lang="scss">

	@media only screen and (min-width: 768px) {

		.title-area {

			img {
				margin-right: 2rem;
			}
		}
	}

	@media only screen and (min-width: 1024px) {

		.title-area {

			img {
				margin-right: 3rem;
			}
		}
	}

	@media only screen and (min-width: 1260px) {

		.title-area {

			img {
				margin-right: 4rem;
			}
		}
	}
</style>
