---
import Layout from '../../layouts/Layout.astro';

// Images
import kitchensink from '/images/eds-kitchen-sink-mockup.png';
---

<Layout title="Case Study: TripAssist">
	<main>
		<h1>Case Study: <span class="text-gradient">TripAssist</span></h1>

		<img src={kitchensink} width="100%" alt="Evolve Design System Kitchen Sink" />
		<p class="img-alt">Kitchen sink view of both light mode and dark mode components on desktop and mobile.</p>

		<div class="align-center margin-top-48">
			<a href="https://www.figma.com/proto/1BEIAWsKWgqbgWaeWyu5c1/EDS_-Components?page-id=6119%3A30505&type=design&node-id=8595-101204&viewport=830%2C536%2C0.15&t=JFo0nCQyfjzUZMWH-1&scaling=min-zoom&starting-point-node-id=8595%3A101204&mode=design" class="button" target="_blank">View component demo</a>
		</div>

		<h2>Be Efficient</h2>
		<p class="text-large">Tasked with leading the design of a comprehensive design system during Evolve's rebrand, I aimed to establish reusable components, guidelines, and design principles. This system reinforces our brand identity, improves accessibility, and empowers collaborative and efficient workflows for our designers and developers.</p>
		
	</main>
</Layout>

<style lang="scss">
	
</style>
