---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global lang="scss">
	@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,500;1,300&display=swap');

	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: 'Barlow', sans-serif;
		font-weight: 300;
		background-color: #F6F4F4;
	}
	code {
		font-family: 'Barlow', sans-serif;
	}
	main {
		max-width: 1040px;
		padding: 0;
	}

	.margin-top-16 {
		margin-top: 1rem;
	}
	.margin-top-24 {
		margin-top: 1.5rem;
	}
	.margin-top-48 {
		margin-top: 3rem;
	}

	.align-center {
		text-align: center;
	}

	a.button{
		display: inline-block;
		box-sizing: border-box;
		margin: 0;
		padding: 1.125rem 1.5em;
		vertical-align: middle;
		border: none;
		border-radius: 10rem;
		background-color: #6457a6;
		font-family:'Barlow', sans-serif;
		font-size: 1.125;
		font-weight: 500;
		text-decoration: none;
		color: #fff;
		text-align: center;
		transition: all 0.2s;

		&:hover{
			background-color: #43387e;
		}
		&:active{
			background-color: #8f81d7;
		}
	}
</style>
